@tailwind base;
@tailwind components;
@tailwind utilities;

.wave .sub_wave:before,
.wave .sub_wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}
.wave .sub_wave:before {
  width: 55%;
  height: 109%;
  background-color: #f8f9fa !important;
  right: -1.5%;
  top: 60%;
}
.wave .sub_wave:after {
  width: 55%;
  height: 100%;
  background-color: rgb(11 36 110);
  left: -1.5%;
  top: 40%;
}
.wave .sub_wave {
  position: absolute;
  height: 66px;
  width: 100%;
  background: rgb(11 36 110);
  bottom: 0px;
}
.wave {
  position: relative;
  height: 50%;
  background: rgb(11 36 110);
}
